.row h3 {
  margin-top: 20px;
}

.mt-5 button {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 0.9em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Mochiy Pop P One", sans-serif;
}

.mt-5 button:not(:disabled):hover,
.mt-5 button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.mt-5 button:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
