.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
h1 {
  font-family: "Mochiy Pop P One", sans-serif;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
.mood-card {
  margin: 10px;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  border: none;
  flex-direction: column;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.mood-card p {
  padding: 5px;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.button-32 {
  margin-top: auto;
  margin-bottom: 10px;
  width: 50%;
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 0.9em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Mochiy Pop P One", sans-serif;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.button-33 {
  margin-top: auto;
  margin-bottom: 10px;
  width: 140px;
  background-color: red;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 0.9em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Mochiy Pop P One", sans-serif;
}
